body {
    background-color: #aaa5c8;
}

#inputs > * {
    width: 100%;
}

#chatlist, #messages {
    max-height: 60vh;
    min-height: 60vh;
    height: 60vh;
    justify-content: start;
    overflow-y: scroll;
}